.divBlock5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color:rgb(211, 13, 165);
    color: rgb(151, 90, 16);
    margin: auto;
    border: 4px solid rgb(11, 1, 1)
    
}
.menuBlock5 ul{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}
.menuBlock5 ul li a{
    text-decoration: none;
    color: rgb(16, 15, 16);
}
.menuBlock5 ul li{
    list-style: none;
}
img{
    height: 60px;
    width: 200px;
    padding: 20px;
}
.menuBlock5 ul li a:hover{
    color:rgb(184, 38, 38)
    
}
